.header {
    background-color: $darkGray;
    min-width: 300px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    transition: .3s;
    @media (max-height: 880px) {
        font-size: 18px;
    }
    @media (max-height: 500px),(max-width: 768px) {
        position: fixed;
        width: 100vw;
        left: 100%;
        top: 0;
        &.active{
            left: 0;
        }
    }

}

.logo {
    img{
        margin: 16px;
        width: 130px;
        height: 50px;
    }
    @media (max-height: 500px),(max-width: 768px) {
        display: flex;
        justify-content: center;    
    }

}
.content{
    padding: 0 23px;
}
.pages{
    @media (max-height: 590px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.storeCategories{
    display: none;
    &.show{
        display: block;
    }
}
.categories{
    margin: 0;
    padding-bottom: 10px;
    @media (max-height: 750px) {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    @media (max-height: 500px),(max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}